<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather App</title>

    <link href="../../stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="../../stylesheets/starter-template.css" rel="stylesheet">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    
  </head>
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <a class="navbar-brand" href="#"><strong>Weather</strong></a> 
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="ui-widget col-md-4">
          <h2 class="lead"><strong>Search Cities</strong></h2>
            <label for="search"></label>
            <input id="search">
          <button type="button" class="btn btn-default" id="srch_btn">Go!</button>
      </div>

      <div class="col-md-8">
        <p id="cities"></p>
      </div>
    </div>
  </body>
</html>
