<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather App</title>

    <link href="../../stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="../../stylesheets/starter-template.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVAt3GCQR4WZ1VMXCbtJRoUP5lrMiWcKw"></script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascript/application.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <script>
      function initialize() {
        var mapOptions = {
          zoom: 5
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);

        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);

            var infowindow = new google.maps.InfoWindow({
              map: map,
              position: pos,
              content: 'Location found using HTML5.'
            });

            map.setCenter(pos);
          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          handleNoGeolocation(false);
        }
      }

      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand"><strong>WorldWideWeather</strong></a> 
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="ui-widget col-md-4">
          <h3 >Search Cities</h3>
            <label for="search"></label>
            <input id="search">
          <button type="button" class="btn btn-default" id="srch_btn">Go!</button>
      </div>

      <div class="col-md-8">
        <h3 id="city">City</h3> 
        <p id="cities"></p>
      </div>

      <div id="map-canvas"></div>
    </div>
  </body>
</html>