<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Weather App</title>

    <link href="../../stylesheets/vendor/bootstrap.min.css" rel="stylesheet">
    <link href="../../stylesheets/starter-template.css" rel="stylesheet">
    <link href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" rel="stylesheet">

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDzIk2iMKQ5V8V97EDNkZD_rVaeff42FBk">
    // </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/javascript/application.js"></script>

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand"><strong>WorldWideWeather</strong></a> 
        </div>
      </div>
    </nav>

    <div class="container">
        <div class="ui-widget col-md-4">
          <h3 >Search Cities</h3>
            <label for="search"></label>
            <input id="search">
          <button type="button" class="btn btn-default" id="srch_btn">Go!</button>
      </div>

      <div class="col-md-8">
        <h3 id="city">City</h3> 
        <p id="cities"></p>
      </div>

      <!-- <div id="map-canvas"></div> -->
      <iframe id="map-canvas"
        width="1400"
        height="350"
        frameborder="0" style="border:0"
        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBa7yIa1ih9KmAUUhWvmoi0tiT5cxHwMz8
          &q=Granville+Island,+Vancouver,+BC,+Canada">
      </iframe>
    </div>
  </body>
</html>